<html>

	<head>

		<style>
			body {
				background: url('strawberryMuseli.jpg')no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}

			h1 {
				color: white;
				font-family: 'Helvetica Neue', Helvetica;
				font-weight: 100;
				font-size: 60px;
				margin: 0px;
			}

			p {
				color: white;
				font-family: 'Helvetica Neue', Helvetica;
				font-weight: 105;
				font-size: 16px;
			}

			.box {
				background-color: rgba(231, 76, 60, 1.0); 
				padding: 50px 30px 30px;
				width: 350px;
				margin: 100px auto;
				text-align: center;
			}
		</style>

	</head>

	<body>
		<div class="box">
			<h1> Strawberry-Lemonade Muffins </h1>

			<p> 
			 	<i>Recipe</i> 
			</p>	

			<p>
			 	<strong>Ingredients</strong>

				2 1/2 cups self-rising flour 
				1 1/4 cups sugar, divided 
				1 (8-oz.) container sour cream 
				1/2 cup butter, melted 
				1 tablespoon lemon zest
				1/4 cup fresh lemon juice
				2 large eggs, lightly beaten 
				1 1/2 cups diced fresh strawberries

				<strong>Preparation</strong>

				1. Preheat oven to 400°. Combine flour and 1 cup sugar in a large bowl; make a well in center of mixture.

				2. Stir together sour cream and next 4 ingredients; add to flour mixture, stirring just until dry ingredients are moistened. Gently fold strawberries into batter. Spoon batter into lightly greased 12-cup muffin pans, filling three-fourths full. Sprinkle remaining 1/4 cup sugar over batter.

				3. Bake at 400° for 16 to 18 minutes or until golden brown and a wooden pick inserted in center comes out clean. Cool in pans on a wire rack 1 minute; remove from pans to wire rack, and cool 10 minutes.

			</p>

			<br />
			<br />


			<a href="http://www.myrecipes.com/recipe/strawberry-lemonade-muffins">
			Check out the original recipe here -->
			</a>

		</div>


	</body>

</html>
