<div class="box">

  <h1> 
    <%= @quiz.name %> 
  </h1><br />

  <h3> 
    <i><strong>Ingredients</strong> </i> 
  </h3> 

  <div>
    <%= simple_format(@quiz.ingredients, :class => "text")%>
  </div>

  <h3> 
    <i><strong>Preparations</strong> </i> 
  </h3>

  <div>
    <%= simple_format(@quiz.preparations, :class => "text")%>
  </div>

  <br \>
  
  <p class="quiz-link"><a href=<%= @quiz.link %>>
    <i>Check out the original recipe here --></i>
  </a></p>

  </div>