body {
	background: url('/assets/strawberryMuseli.jpg')no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	color: white;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 100;
	font-size: 60px;
	margin: 0px;
	text-align: center;
}

h3 {
	color: white;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 105;
	font-size: 25px;
	text-align: center;
}

p {
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 105;
	font-size: 20px;
	text-align: center;
}

.text {
	color: white;
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 100;
	font-size: 16px;
	text-align: left;
}

.box {
	background-color: #e74c3c; 
	padding: 50px 30px 30px;
	width: 550px;
	margin: 100px auto;
}

.recipe-link a {
	color: #bdc3c7;
}

/* mouse over link */
.recipe-link a:hover {
    text-decoration: underline;
}

/* selected link */
.recipe-link a:active {
    color: #f1c40f;
}

		