@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

.navbar {
  font-family: 'Abril Fatface', cursive;
  height: 80px;
}

.logo:hover {
  text-decoration: none;
}

.circle {
  position: relative;
  border-radius: 100%;
  background: #f84342;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1.5px;
  line-height: 16px;
  cursor: pointer;
  transform:rotate(11deg);
  -ms-transform:rotate(11deg); /* IE 9 */
  -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.clear {
  clear:both;
}
    
.links {
  text-align: right;
  padding: 25px 50px;
  font-size: 25px;
}

a {
  color: white;
  padding-right: 25px;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
      color: #e74c3c;
}

h1 {
	font-weight: 100;
	font-size: 60px;
	margin: 0px;
	text-align: center;
}

h3 {
	font-weight: 105;
	font-size: 25px;
	text-align: center;
}

p {
	font-weight: 105;
	font-size: 20px;
	text-align: center;
}

.text {
	font-weight: 100;
	font-size: 16px;
	text-align: left;
}

.box {
  color: white;
	font-family: 'Helvetica Neue', Helvetica;
	background-color: #e74c3c; 
	padding: 50px 30px 30px;
	width: 550px;
	margin: 100px auto;
}

.quiz-link a {
	color: #bdc3c7;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
}

/* mouse over link */
.quiz-link a:hover {
    text-decoration: underline;
}

/* selected link */
.quiz-link a:active {
    color: #f1c40f;
}

.new-recipe {
  color: white;
}

.simple_form label{
  font-weight: 600;
  font-size: 12px;
}
