<!DOCTYPE html>
<html>
	<head>

		<title>What to eat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>

	</head>

	<body>
		<div class="box">
			<h1> Strawberry-Lemonade Muffins </h1><br />

			<h3> 
			 	<i><strong>Ingredients</strong> </i> 
			</h3>	

			<div class="text">
				2 1/2 cups self-rising flour 	<br />
				1 1/4 cups sugar, divided 	 	<br />
				1 (8-oz.) container sour cream 	<br />
				1/2 cup butter, melted 			<br />
				1 tablespoon lemon zest			<br />
				1/4 cup fresh lemon juice		<br />
				2 large eggs, lightly beaten 	<br />
				1 1/2 cups diced fresh strawberries <br />

			</div>

			<h3> 
			 	<i><strong>Preparations</strong> </i> 
			</h3>

			<div class="text">

				1. Preheat oven to 400°. Combine flour and 1 cup sugar in a large bowl; make a well in center of mixture. <br /><br />

				2. Stir together sour cream and next 4 ingredients; add to flour mixture, stirring just until dry ingredients are moistened. Gently fold strawberries into batter. Spoon batter into lightly greased 12-cup muffin pans, filling three-fourths full. Sprinkle remaining 1/4 cup sugar over batter. <br /><br />

				3. Bake at 400° for 16 to 18 minutes or until golden brown and a wooden pick inserted in center comes out clean. Cool in pans on a wire rack 1 minute; remove from pans to wire rack, and cool 10 minutes. <br /><br />

			</div>


			<p class="recipe-link"><a href="http://www.myrecipes.com/recipe/strawberry-lemonade-muffins">
			Check out the original recipe here -->
			</a></p>

		</div>


	</body>

</html>
